# Arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv/
env/

# Arquivos de configuração de IDEs/editores
.vscode/
.idea/

# Logs e arquivos temporários
*.log
*.tmp

# Arquivo JSON dinâmico
data.json